.mentionSuggestionsEntry {
  padding: 3px 5px 3px 5px;
  height: 22px;
  transition: background-color 0.4s cubic-bezier(.27,1.27,.48,.56);
}

.mentionSuggestionsEntry:active {
  background-color: #e0e0e0;
}

.mentionSuggestionsEntryFocused {
  composes: mentionSuggestionsEntry;
  background-color: #cccccc;
}

.mentionSuggestionsEntryText {
  display: inline-block;
  margin-left: 4px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  font-size: 0.9em;
  margin-bottom: 0.2em;
}

.mentionSuggestionsEntryAvatar {
  display: inline-block;
  width: 24px;
  height: 24px;
  border-radius: 12px;
}
