.mention, .mention:visited {
  color: #527871;
  display: inline-block;
  padding-left: 2px;
  padding-right: 2px;
  border-radius: 2px;
  text-decoration: none;
}

.mention:hover, .mention:focus {
  color: #677584;
  background: #e8f3f0;
  outline: 0; /* reset for :focus */
}
